<template name="header">

  <nav class="hide navbar navbar-custom  navbar-fixed-top navbar-material-red-900" role="banner">
      <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false"
            data-target="#navmenu-side" data-canvas=".canvas">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{pathFor 'home'}}">Planet 9</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse">
          {{> nav navType="navbar" extraClass="navbar-right"}}
        </div><!-- /.navbar-collapse -->

      </div>
  </nav>

</template>


<template name="offScreenMenu">
  <!-- Side Menu -->
  <div class="offcanvas-navmenu navmenu navmenu-default navmenu-fixed-right invisible" id="navmenu-side">
    {{> nav navType="navmenu"}}
  </div>
</template>


<template name="nav">
  <ul class="nav {{navType}}-nav {{extraClass}}">
    <li class="{{activeRouteClass 'home'}}"><a href="{{pathFor 'home'}}"><i class="fa fa-home"></i> Home</a></li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i> Tests <b class="caret"></b></a>
      <ul class="dropdown-menu">

        <li class="{{activeRouteClass 'map'}}">
          <a href="{{pathFor 'map'}}"><i class="fa fa-globe"></i> Map Test</a>
        </li>

        <li class="{{activeRouteClass 'tableTest'}}">
          <a href="{{pathFor 'tableTest'}}"><i class="fa fa-table"></i> Table Test</a>
        </li>

        <li class="{{activeRouteClass 'gridTest'}}">
          <a href="{{pathFor 'gridTest'}}"><i class="fa fa-bars"></i> Grid Test</a>
        </li>

        <li class="{{activeRouteClass 'nvd3Test'}}">
          <a href="{{pathFor 'nvd3Test'}}"><i class="fa fa-line-chart"></i> NVD3 Chart Test</a>
        </li>

         <li class="{{activeRouteClass 'dcTest'}}">
          <a href="{{pathFor 'dcTest'}}"><i class="fa fa-area-chart"></i> Dimensional Chart Test</a>
        </li>

        <li class="{{activeRouteClass 'epochTest'}}">
          <a href="{{pathFor 'epochTest'}}"><i class="fa fa-line-chart"></i> Epoch Chart Test</a>
        </li>

        <li class="{{activeRouteClass 'googleChart'}}">
          <a href="{{pathFor 'googleChart'}}"><i class="fa fa-line-chart"></i> Google Chart Test</a>
        </li>

        <li class="{{activeRouteClass 'controlTests'}}">
          <a href="{{pathFor 'controlTests'}}"><i class="fa fa-flask"></i> Control Tests</a>
        </li>

        <li class="{{activeRouteClass 'dialogTest'}}">
          <a href="{{pathFor 'dialogTest'}}"><i class="fa fa-windows"></i> Dialog Test</a>
        </li>

        <li class="{{activeRouteClass 'materialize'}}">
          <a href="{{pathFor 'materialize'}}"><i class="fa fa-windows"></i> Materialize</a>
        </li>

        <li class="{{activeRouteClass 'watchFiles'}}">
          <a href="{{pathFor 'watchFiles'}}"><i class="fa fa-files-o"></i> Watch File</a>
        </li>

      </ul>
    </li>

    {{#if admin}}
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i> Admin <b class="caret"></b></a>
      <ul class="dropdown-menu">

        <li class="{{activeRouteClass 'adminUsers'}}">
          <a href="{{pathFor 'adminUsers'}}"><i class="fa fa-users"></i> Users</a>
        </li>


        <li class="divider"></li>

        <li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
        -->
      </ul>
    </li>
    {{/if}}

  <!--
    <li class="{{activeRouteClass 'profile'}}">
      <a href="{{pathFor 'profile'}}">
        <i class="fa fa-user"></i>  Profile
      </a>
    </li>
  -->
    <li>{{> atNavButton}}</li>
    
  </ul>
</template>
