
<template name="dialogTest">
  <div class="jumbotron">
    <h2>Alert Tests</h2>
    <div class="row">
      
      <div class="col-xs-3">
        <a class="btn btn-success" id="success">Success</a>
      </div>

      <div class="col-xs-3">
        <a class="btn btn-info" id="info">Info</a>
      </div>

      <div class="col-xs-3">
        <a class="btn btn-warning" id="warning">Warning</a>
      </div>

      <div class="col-xs-3">
        <a class="btn btn-danger" id="error">Error</a>
      </div>
      
    </div>

    <br/>

    <h2>Dialog Tests</h2>
    <p>Test page for the dialog box </p>

    <div class="row">
      
      <div class="col-xs-4">
        <a class="btn btn-default" id="messageTest">Message</a>
      </div>

      <div class="col-xs-4">
        <a class="btn btn-warning" id="alertTest">Alert</a>
      </div>

      <div class="col-xs-4">
        <a class="btn btn-danger" id="errorTest">Error</a>
      </div>
      
    </div>

    <br/>
    
    <div class="row">

      <div class="col-xs-4">
        <a class="btn btn-primary" id="confirmTest">Confirm</a>
      </div>

      <div class="col-xs-4">
        <a class="btn btn-default" id="promptTest">Prompt</a>
      </div>

      <div class="col-xs-4">
        <a class="btn btn-info" id="progressTest">Progress</a>
      </div>

    </div>

    <br/>
    
    <div class="row">

      <div class="col-xs-4">
        <a class="btn btn-default btn-sm" id="smallMessageTest">Small Message</a>
      </div>

      <div class="col-xs-4">
        <a class="btn btn-default" id="selectTest">Select</a>
      </div>

      <div class="col-xs-4">
        <a class="btn btn-success" id="statusTest">Status</a>
      </div>

      <!--
      <div class="col-xs-4">
        <a class="btn btn-default" id="scriptTest">Load Script Test</a>
      </div>
      -->

    </div>
  </div>

</template>